extends layout

block content
  div.text-white.bg-dark
    div.py-2.px-5
      h4= title
      small Total commit #{obj.length}
      ul.mt-3.list-group
      each log in obj
        .card
          .card-body
            h5.card-title.text-dark 
              a(href='/commit/#{log.commit}') # #{log.commit}
            h6.card-subtitle.mb-2.text-muted #{log.commiter.name} - #{log.subject}
            p.card-text.text-muted
              pre
                code.JSON
                  !{JSON.stringify(log, null, '  ')}
            div.text-right.pr-4
              a.card-link(href='/commit/#{log.commit}') View Change